.env
env
venv
temp
tmp

chronos/crontabs/*
!chronos/crontabs/.gitkeep

monitor/html/stats.txt

nginx-firewall/http-confs/*
!nginx-firewall/http-confs/.gitkeep

nginx-proxy/conf/default.conf

nginx-proxy/logs/*
!nginx-proxy/logs/.gitkeep

certs/*
!certs/.gitkeep

vhost/*
!vhost/.gitkeep

*.pyc
*.sqlite
*.coverage
.DS_Store
*.idea
