.env
env
venv
temp
tmp

monitor/html/stats.txt

nginx-proxy/conf/default.conf

nginx-proxy/logs/*
!nginx-proxy/logs/.gitkeep

certs/*
!certs/.gitkeep

vhost/*
!vhost/.gitkeep

*.pyc
*.sqlite
*.coverage
.DS_Store
*.idea
