.env
env
venv
temp
tmp

chronos/crontabs/*
!chronos/crontabs/.gitkeep

nginx/certs/*
!nginx/certs/.gitkeep

nginx/conf/default.conf

nginx/html/*
!nginx/html/.gitkeep

nginx/logs/*
!nginx/logs/.gitkeep

*.pyc
*.sqlite
*.coverage
.DS_Store
*.idea
